extends layout

block content
  h1 #{title}
  form(method='POST', action='/notice/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text' )
    #form-group
      label Add notice text:
      textarea.form-control(name='body' placeholder='Obavijest:')
    br
    input.btn.btn-primary(type='submit',value='Submit')
