extends layout

block content
  h1 #{title}
  form(method='POST', action='/covers/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text' )
    #form-group
      label Add youtube id:
      textarea.form-control(name='body' placeholder='exm: 2xzFWm9uXJo')
    br
    input.btn.btn-primary(type='submit',value='Submit')
