extends layout


block content
  a.btn.btn-default.paddding-bottom(target="_blank" href="https://calendar.google.com/event?mode=AGENDA&amp;tmeid=NGs3azA1MWNpdHZjamlrczY1MDg3a245ZnIgdGlnaHRncmlwcy5jcm9AbQ&amp;tmsrc=tightgrips.cro%40gmail.com") Add Event
  .googleCalendar-desktop
      iframe(src='https://calendar.google.com/calendar/b/1/embed?showTitle=0&height=600&wkst=2&bgcolor=%23FFFFFF&src=tightgrips.cro%40gmail.com&color=%231B887A&ctz=Europe%2FBelgrade', style='border-width:0', width='800', height='600', frameborder='0', scrolling='no')
  .googleCalendar-mobile
      iframe(src='https://calendar.google.com/calendar/b/1/embed?showTitle=0&showPrint=0&showTabs=0&mode=AGENDA&height=800&wkst=1&bgcolor=%23FFFFFF&src=tightgrips.cro%40gmail.com&color=%231B887A&ctz=Europe%2FBelgrade', style='border-width:0', width='600', height='800', frameborder='0', scrolling='no')
