extends layout


block content

  .googleCalendar
    iframe(src="https://calendar.google.com/calendar/embed?src=tightgrips.cro%40gmail.com&ctz=Europe%2FBelgrade" style="border: 0" width="800" height="600" frameborder="0" scrolling="no")
  .container-fluid
    a.btn.btn-default.paddding-bottom(target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NGs3azA1MWNpdHZjamlrczY1MDg3a245ZnIgdGlnaHRncmlwcy5jcm9AbQ&amp;tmsrc=tightgrips.cro%40gmail.com") Add Event
