extends layout


block content

  div(class="responsive-iframe-container big-container")
    iframe(src="https://calendar.google.com/calendar/embed?src=tightgrips.cro%40gmail.com&ctz=Europe%2FBelgrade" style="border: 0" width="800" height="600" frameborder="0" scrolling="no")
  div(class="responsive-iframe-container small-container")
    iframe(src="https://calendar.google.com/calendar/b/1/embed?title=Tight%20Grips&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=tightgrips.cro%40gmail.com&amp;color=%231B887A&amp;src=hr.croatian%23holiday%40group.v.calendar.google.com&amp;color=%23A32929&amp;ctz=Europe%2FBelgrade" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no")
  .container-fluid
    a.btn.btn-default.paddding-bottom(target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NGs3azA1MWNpdHZjamlrczY1MDg3a245ZnIgdGlnaHRncmlwcy5jcm9AbQ&amp;tmsrc=tightgrips.cro%40gmail.com") Add Event
