extends layout

block content
  .row
   .col-md-6.col-lg-4
      h3 Covers
        a.btn.btn-default(href='/covers/add') Add Cover
      p
        ul.list-group
          each article, i in articles
            li.list-group-item
              a(href="/covers/"+article._id)= article.title

   .col-md-6.col-lg-4
  #disqus_thread
        script.
          var disqus_config = function () {
          this.page.url = PAGE_URL;
          this.page.identifier = PAGE_IDENTIFIER;
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://tg-manager.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
