extends layout


block content
  div(class="sizer")
    div(class="embed-responsive embed-responsive-16by9")
      iframe( class="embed-responsive-item", src='http://www.youtube.com/embed/'+article.body, frameborder='0', allowfullscreen='allowfullscreen')
  h1= article.title
  a.btn.btn-default(href='/covers/edit/'+article._id) Edit
  a.btn.btn-danger.delete-article(href='/covers/',data-id=article._id) Delete
