extends layout

block content
  .container-fluid
  form.dropzone#drop(enctype='multipart/form-data', action='/repository/upload', method='post')
  br
  br
  br
  h3 Files
    table
      thead
        tr: th
      tbody
        each name, i in files
          tr
            td
              a(href='/repository/download/'+name)="" + name
