extends layout

block content
  .container-fluid
    a(href="/repository/songs" height="50px")
      img(src="/images/folder.png")
      label Songs
  .container-fluid
    a(href="/repository/images")
      img(src="/images/folder.png")
      label Images
  .container-fluid
    a(href="/repository/lyrics")
      img(src="/images/folder.png")
      label Lyrics
  .container-fluid
    a(href="/repository/other")
      img(src="/images/folder.png")
      label Other
