body{
  background:url(http://www.thomaspodgro.com/pen/hero-bg.jpg) top left no-repeat;
  background-size:cover;
}

.download{
  list-style-image: url('/images/download.png');
}

.capitalize{
  text-transform: capitalize;
}

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.sizer{
  width:60%;
}
.user-detail{
  padding-left: 60px;
}
.padding-left{
  padding-left: 8px;
}

.googleCalendar-desktop{
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
}

.googleCalendar-mobile{
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 100%;
}

@media screen and (max-width: 600px) {
  .googleCalendar-desktop {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .googleCalendar-mobile {
    display: none;
  }
}

.googleCalendar-desktop iframe{
  position: absolute;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.googleCalendar-mobile iframe{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#drop{
  font-family:Arial;
  font-weight: bold;
  color:gray;
  font-size: 18px;
}
